body {
    background-color: #e4e4e4  ;

}

#topbar .topbar {
    width: 100vw;
    height: 95px;
    align-content: top;
    top: 0;
    margin: -18px -8px -8px -8px ; 
    background-color:  #204056 ;
    background-clip: cover;
        }

h1.fixed{
font-family: europa;
padding-top: 24px;
color: lightblue;
float: left;
}


.logo {
height: 32px;
width: 32px;
align-content: left
}